Repository elchika-inc/buddies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:dispatcher, prettier --write

.lintstagedrc.json:

{
  "dispatcher/src/**/*.{ts,tsx}": [
    "npm run lint:dispatcher",
    "prettier --write"
  ],
  "dispatcher/**/*.json": [
    "prettier --write"
  ],
  "frontend/src/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "api/src/**/*.ts": [
    "prettier --write"
  ],
  "crawler/src/**/*.ts": [
    "prettier --write"
  ],
  "*.{md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: GitHub Actions Image Conversionワークフローのエラーを修正
  scripts/dispatcher/detect-unconverted-images.js
  scripts/dispatcher/image-converter.js
Due: none

fix: Image Conversionワークフローのoriginal関数エラーを修正
  scripts/dispatcher/detect-unconverted-images.js
  scripts/dispatcher/image-converter.js
Due: none

fix: resolve TypeScript errors and unify API key variables
  .github/actions/process-pets/action.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/image-conversion.yml
  .github/workflows/screenshot-capture.yml
  .github/workflows/weekly-fix-image-db-sync.yml
  api/src/routes/crawler.ts
  crawler/src/Crawler.ts
  shared/src/utils/r2-paths.ts
  shared/src/utils/retry.ts
Due: prettier --write

feat: 画像変換とスクリーンショット取得にリトライ機能を追加し、引数を拡張
  frontend/public/sw.js
  scripts/dispatcher/detect-unconverted-images.js
  scripts/dispatcher/image-converter.js
  scripts/dispatcher/screenshot-capture.js
  shared/types/index.ts
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

feat: 複数の地域および市区町村パラメータを受け取る機能を追加
  api/src/controllers/PetController.ts
  api/src/repositories/PetRepository.ts
  frontend/src/components/MatchHeader.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/hooks/usePetData.ts
  frontend/src/services/api.ts
Due: prettier --write

feat: 地域フィルターを都道府県のみに変更し、市区町村データの表示を削除
  frontend/src/components/LocationRegion.tsx
  frontend/src/services/api.ts
Due: prettier --write

refactor: 不要な都道府県関連のプロパティを削除し、コンポーネントのシンプルさを向上
  frontend/public/sw.js
  frontend/src/components/LocationRegion.tsx
  frontend/src/components/LocationSelector.tsx
Due: prettier --write

feat: 都道府県レベルでの選択のみをサポートし、市区町村の表示を削除
  frontend/public/sw.js
  frontend/src/hooks/useLocationSelection.ts
Due: prettier --write

feat: ペットスワイプ機能の改善と閲覧状態の保存機能を追加
  frontend/src/components/PetMatchApp.tsx
  frontend/src/hooks/usePetData.ts
  frontend/src/hooks/usePetSwipe.ts
Due: prettier --write

feat: ペットカードの画像読み込み最適化とプリロード設定の改善
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/hooks/usePetData.ts
Due: prettier --write

feat: モーダルの選択状態管理を改善し、完了・キャンセル処理を追加
  frontend/src/components/LocationModal.tsx
Due: prettier --write

feat: Service Workerのスクリプトを更新し、キャッシュ名の詳細を設定
  frontend/public/sw.js
Due: none

feat: ペットの性別表示を日本語に変更し、不明な場合の表示を改善
  frontend/src/components/MatchHeader.tsx
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetDetailModal.tsx
Due: prettier --write

Add prefecture inference from city in location filter
  api/src/routes/admin.ts
  api/src/routes/admin/prefectureComplement.ts
  api/src/utils/prefectureComplement.ts
  crawler/src/services/HtmlParser.ts
  frontend/public/sw.js
  frontend/src/data/cityPrefectureMapping.ts
  frontend/src/utils/dataMigration.ts
Due: prettier --write

feat: 画像URLの生成ロジックを改善し、WebP形式を優先的に使用するように変更
  api/src/utils/DataTransformer.ts
  database/seed.ts
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetSwipeCard.tsx
Due: prettier --write

feat: PWAインストールバナーを追加し、アプリのメタデータを更新
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/components/InstallPWA.tsx
  frontend/src/index.css
Due: prettier --write

feat: Service Workerの更新検知機能を追加し、更新通知バナーを実装
  frontend/public/sw.js
  frontend/src/components/InstallPWA.tsx
  frontend/src/components/ServiceWorkerUpdater.tsx
  frontend/src/index.css
Due: prettier --write

feat: PawMatchからBuddiesへのリファクタリングと環境変数の更新
  admin/src/routes/records.ts
  admin/src/routes/tables.ts
  admin/src/services/ApiKeyService.ts
  admin/src/types/ApiKeysSchema.ts
  admin/src/types/common.ts
  admin/tsconfig.json
  api/src/controllers/PetController.ts
  api/src/middleware/ErrorHandlerMiddleware.ts
  api/src/repositories/PetRepository.ts
  api/src/services/ApiKeyService.ts
  api/src/services/RateLimitService.ts
  api/src/types/database.ts
  api/src/types/responses.ts
  api/src/utils/PetFactory.ts
  api/src/utils/UrlBuilder.ts
  api/tsconfig.json
  crawler/src/Crawler.ts
  crawler/src/services/DataPersistence.ts
  crawler/src/services/HttpFetcher.ts
  crawler/src/services/PetHomeParser.ts
  crawler/src/services/PetImageProcessor.ts
  crawler/src/services/PetRepository.ts
  crawler/tsconfig.json
  dispatcher/src/services/GithubService.ts
  dispatcher/src/services/QueueService.ts
  dispatcher/src/utils/logger.ts
  dispatcher/tsconfig.json
  frontend/public/sw.js
  frontend/tsconfig.json
  package.json
  tsconfig.json
Due: npm run lint:dispatcher, prettier --write

feat: PawMatchからBuddiesへのAPI URLとドキュメントURLの更新
  admin/src/config/ApiKeys.ts
  frontend/public/sw.js
  package-lock.json
  scripts/convert-originals-to-webp.js
  scripts/dispatcher/detect-unconverted-images.js
Due: none

fix: BuddiesErrorを共有型に追加し、型エラーを修正
  api/src/middleware/ErrorHandlerMiddleware.ts
  api/src/utils/ErrorHandler.ts
  shared/types/error.ts
Due: prettier --write

fix: BuddiesErrorをtype-only importに変更
  api/src/middleware/ErrorHandlerMiddleware.ts
Due: prettier --write

feat: 画像取得とアップロードのエンドポイントを追加し、APIベースURLを更新
  api/src/index.ts
  api/src/routes/images.ts
  api/wrangler.toml
  frontend/public/sw.js
  frontend/src/services/api.ts
  scripts/migrate-d1-data.sh
  scripts/migrate-r2-images.sh
Due: prettier --write

feat: 画像URLをデータベースに保存する機能を追加し、管理者用シークレットキーを設定
  api/src/controllers/ImageController.ts
  api/wrangler.toml
Due: prettier --write

fix: R2パスをAPIの期待するパスに修正
  scripts/dispatcher/image-converter.js
Due: none

fix: アプリ名をBuddiesに変更し、関連する設定を更新
  frontend/.env.example
  frontend/src/components/MatchHeader.tsx
  frontend/src/config/petConfig.ts
Due: prettier --write

feat: Add centralized API and swipe configuration files
  api/.prettierrc.json
  api/src/builders/PetBuilder.ts
  api/src/types/pet.ts
  conversion_targets.json
  crawler/.prettierrc.json
  crawler/src/Crawler.ts
  crawler/src/config/constants.ts
  crawler/src/index.ts
  crawler/src/services/HttpFetcher.ts
  crawler/src/services/PetDataTransformer.ts
  crawler/src/services/PetHomeCrawlerService.ts
  crawler/src/services/PetImageProcessor.ts
  dispatcher/.prettierrc.json
  dispatcher/src/constants/index.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/GithubService.ts
  frontend/public/sw.js
  frontend/src/config/api.ts
  frontend/src/config/swipe.ts
  frontend/src/hooks/usePetData.ts
  frontend/src/hooks/usePetSwipe.ts
  frontend/src/types/pet.ts
  shared/.prettierrc.json
  shared/schemas/api.schema.ts
  shared/types/guards.ts
  shared/types/index.ts
  shared/types/pet.ts
  shared/types/unified.ts
Due: npm run lint:dispatcher, prettier --write

feat: ペットカードコンポーネントに画像キャッシュ機能を追加
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  lp/tsconfig.json
Due: prettier --write

feat: ペットカードコンポーネントの画像エラーハンドリングを改善
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
Due: prettier --write

feat: ペットカードコンポーネントに画像プリフェッチ機能を追加し、カードインデックスに基づく品質設定を実装
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
Due: prettier --write

feat: ペットカードコンポーネントの画像プリフェッチ機能を無効化し、品質設定をシンプル化
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
Due: prettier --write

feat: キーボード操作のヘルプモーダルとヒントコンポーネントを追加し、キーボードスワイプ機能を実装
  frontend/public/sw.js
  frontend/src/components/KeyboardHelpModal.tsx
  frontend/src/components/KeyboardHint.tsx
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
  frontend/src/hooks/__tests__/useKeyboardSwipe.test.ts
  frontend/src/hooks/useKeyboardSwipe.ts
Due: prettier --write

feat: ペットカードコンポーネントからonTapプロパティを削除し、スワイプカードでの管理に移行 feat: キーボードスワイプフックから未使用のSwipeAction型を削除 feat: サービスワーカーのキャッシュ名を更新し、プリフェッチのURLを修正
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetSwipeCard.tsx
  frontend/src/hooks/useKeyboardSwipe.ts
Due: prettier --write

feat: add drag gesture hook and swipe card animations
  frontend/next.config.js
  frontend/package.json
  frontend/public/sw.js
  frontend/src/components/InstallPWA.tsx
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetSwipeCard.tsx
  frontend/src/components/PetSwipeCard/animations.ts
  frontend/src/hooks/useDragGesture.ts
  frontend/src/hooks/useImageLoader.ts
  frontend/src/hooks/usePetSwipe.ts
  frontend/src/services/api.ts
  frontend/src/types/global.d.ts
  frontend/src/utils/transformers/responseTransformer.ts
  package-lock.json
Due: prettier --write

feat: add dashboard and API keys management routes and UI
  admin/src/routes/dashboard.ts
  admin/src/routes/index.ts
  admin/src/routes/ui-api-keys.ts
  admin/src/routes/ui-dashboard.ts
  admin/src/routes/ui.ts
Due: none

feat: 画像統計とR2バケット情報をダッシュボードに追加
  admin/src/routes/dashboard.ts
  admin/src/routes/ui-dashboard.ts
Due: none
