Repository elchika-inc/buddies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:dispatcher, prettier --write

.lintstagedrc.json:

{
  "dispatcher/src/**/*.{ts,tsx}": [
    "npm run lint:dispatcher",
    "prettier --write"
  ],
  "dispatcher/**/*.json": [
    "prettier --write"
  ],
  "frontend/src/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "api/src/**/*.ts": [
    "prettier --write"
  ],
  "crawler/src/**/*.ts": [
    "prettier --write"
  ],
  "*.{md,yml,yaml}": [
    "prettier --write"
  ]
}

feat: レート制限のKV名前空間を無効化し、オフラインフォールバックスクリプトを追加
  api/wrangler.toml
  frontend/public/fallback-NnNOq5MOxeUAXMDGw-MiJ.js
  frontend/public/sw.js
Due: none

feat: 定期的な画像クリーンアップワークフローのスケジュール設定をコメントアウトし、手動実行のみを有効化 feat: 画像データベース同期ワークフローのスケジュール設定をコメントアウトし、手動実行のみを有効化 feat: .gitkeepファイルを追加 fix: wrangler.tomlの互換性日付を更新し、環境変数の設定を整理
  .github/workflows/weekly-cleanup-orphaned-images.yml
  .github/workflows/weekly-fix-image-db-sync.yml
  admin/public/.gitkeep
  admin/wrangler.toml
Due: prettier --write

feat: next.config.mjsを新規作成し、PWA機能を一時的に無効化
  frontend/next.config.js
  frontend/next.config.mjs
Due: none

feat: next.config.jsを新規作成し、PWA設定を追加。next.config.mjsを削除し、依存関係のバージョンを更新
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/next.config.mjs
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/fallback-uCsZ9L95oPZRC_ultGhPk.js
  frontend/public/sw.js
  package-lock.json
Due: none

feat: Integrate middleware setup and route registration for API and UI
  admin/.eslintrc.json
  admin/src/app.ts
  admin/src/components/Dashboard.tsx
  admin/src/components/TableDetail.tsx
  admin/src/db/schema/validation.ts
  admin/src/db/tableRegistry.ts
  admin/src/hooks/useApiRequest.ts
  admin/src/hooks/useErrorHandler.ts
  admin/src/hooks/useToast.ts
  admin/src/index.ts
  admin/src/middleware/setup/index.ts
  admin/src/routes/apiKeys.ts
  admin/src/routes/index.ts
  admin/src/routes/records.ts
  admin/src/routes/ui.ts
  admin/src/services/ApiKeyCacheService.ts
  admin/src/services/ApiKeyRepository.ts
  admin/src/services/ApiKeyService.ts
  admin/src/services/ApiKeyStatisticsService.ts
  admin/src/services/CrudServiceBase.ts
  admin/src/types/common.ts
  admin/src/types/env.ts
  admin/src/utils/renderReact.tsx
  admin/tsconfig.json
  tsconfig.workers.json
Due: none

feat: 各所でundefinedを明示的に設定し、型安全性を向上させる
  admin/src/components/TableDetail.tsx
  admin/src/hooks/useErrorHandler.ts
  admin/src/routes/apiKeys.ts
  admin/src/routes/records.ts
  admin/src/services/ApiKeyService.ts
  admin/src/utils/renderReact.tsx
  api/src/controllers/admin/ImageUploadControllerV2.ts
  api/src/routes/conversion.ts
  api/src/services/SyncService.ts
  api/src/services/UnifiedImageService.ts
  api/src/services/image/ImageProcessingService.ts
  api/src/services/image/ImageUploadService.ts
  api/src/utils/DataTransformer.ts
  api/src/utils/PetFactory.ts
  api/src/utils/ResponseFormatter.ts
  crawler/src/services/PetHomeParser.ts
  crawler/src/services/PetImageProcessor.ts
  dispatcher/src/controllers/DispatchController.ts
  dispatcher/src/services/CrawlerService.ts
  frontend/public/fallback-KxfkgxftGUSXRGe1cFTeS.js
  frontend/public/sw.js
  shared/types/pet.ts
  shared/types/service-binding.ts
  tsconfig.json
Due: npm run lint:dispatcher, prettier --write

feat: 認証機能を追加し、ダッシュボードとログインページを実装
  admin/src/components/AuthenticatedDashboard.tsx
  admin/src/components/Login.tsx
  admin/src/routes/auth.ts
  admin/src/routes/index.ts
  admin/src/routes/ui.ts
Due: none

feat: 型アサーションを追加し、APIレスポンスの型安全性を向上させる
  admin/src/components/AuthenticatedDashboard.tsx
  admin/src/components/Dashboard.tsx
  admin/src/components/Login.tsx
  admin/src/routes/auth.ts
Due: none

feat: UIルートのセッション認証を改善し、特定のパスを認証不要に設定
  admin/src/routes/index.ts
Due: none

feat: Cronトリガー設定を有効化し、手動実行から定期実行に変更
  api/src/index.ts
  api/wrangler.toml
  dispatcher/wrangler.toml
Due: prettier --write

feat: 認証ミドルウェアの設定をroutes/index.tsに移動し、APIルートへの適用を明示化
  admin/src/middleware/setup/index.ts
Due: none

feat: 認証機能をBasic認証に変更し、関連するルートとミドルウェアを整理
  admin/src/components/AuthenticatedDashboard.tsx
  admin/src/components/Login.tsx
  admin/src/middleware/auth.ts
  admin/src/middleware/setup/index.ts
  admin/src/routes/auth.ts
  admin/src/routes/index.ts
  admin/src/routes/ui.ts
Due: none

feat: 古いログインURLからルートへリダイレクトを追加
  admin/src/routes/index.ts
Due: none

feat: ダッシュボードのデータ取得処理を修正し、ログアウト処理を簡素化
  admin/src/components/Dashboard.tsx
  admin/src/utils/renderReact.tsx
Due: none

feat: ダッシュボードとテーブル詳細ページをシンプルなHTML版に変更し、Basic認証を削除
  admin/src/routes/ui.ts
Due: none

feat: テーブル詳細ページに新規作成、更新、削除機能を追加し、モーダルを実装
  admin/src/routes/ui.ts
Due: none

feat: レコード一覧にソート機能を追加し、UIを更新
  admin/src/routes/records.ts
  admin/src/routes/ui.ts
Due: none

feat: レコード取得処理を修正し、ソート機能の安全性を向上
  admin/src/routes/records.ts
Due: none

fix: エラーメッセージのロギングを改善し、成功メッセージのデフォルト値を設定
  api/src/index.ts
Due: prettier --write

fix: クローラーのUser-Agentを修正してBot検出を回避
  crawler/src/config/constants.ts
Due: prettier --write

feat: クローラーのHTTPリクエスト設定を改善し、複数のCSSセレクターパターンを追加
  crawler/src/Crawler.ts
  crawler/src/config/constants.ts
  crawler/src/index.ts
  crawler/src/services/HtmlParser.ts
  crawler/src/services/HttpFetcher.ts
  frontend/public/fallback-3bD8oDQYM50oLFIFWccI3.js
  frontend/public/sw.js
Due: prettier --write

fix: SQLクエリのカラム名を修正し、一貫性を持たせる
  api/src/services/ApiKeyService.ts
Due: prettier --write

fix: 内部APIのURLをHTTPSに変更し、セキュリティを向上
  api/src/routes/crawler.ts
  shared/services/api-client.ts
  shared/types/service-binding.ts
Due: prettier --write

fix: クローラーのパスを認証不要な公開パスに追加
  api/src/middleware/ApiAuth.ts
Due: prettier --write

fix: /api/statsエンドポイントを認証不要に設定
  api/src/middleware/ApiAuth.ts
Due: prettier --write

fix: フラグ更新用のAPIエンドポイントを認証不要に設定
  api/src/middleware/ApiAuth.ts
Due: prettier --write

fix: 画像変換エンドポイントを認証不要パスに追加
  api/src/middleware/ApiAuth.ts
Due: prettier --write

fix: CrawlerからDispatcherへの通信フォーマットを修正し自動Screenshot起動を有効化
  api/src/routes/crawler.ts
Due: prettier --write

fix: lintエラー修正 - 未使用変数petTypeを_petTypeに変更
  api/src/routes/crawler.ts
Due: prettier --write

fix: Dispatcher Conversionレスポンス形式を統一しServiceClientとの互換性を修正
  dispatcher/src/controllers/DispatchController.ts
Due: npm run lint:dispatcher, prettier --write

Implement code changes to enhance functionality and improve performance
  frontend/package.json
  package-lock.json
Due: none

fix: 不要なconsole.logを削除してコードをクリーンアップ
  crawler/src/Crawler.ts
  crawler/src/services/HtmlParser.ts
  crawler/src/services/HttpFetcher.ts
  shared/utils/error-handler.ts
Due: prettier --write

feat: "deploy:prod"スクリプトを追加
  api/package.json
Due: none

fix: Image Conversionワークフローのフラグ更新処理を修正
  .github/workflows/image-conversion.yml
  scripts/dispatcher/image-converter.js
Due: prettier --write

fix: R2ストレージのパス構造を修正
  conversion_targets.json
  scripts/dispatcher/detect-unconverted-images.js
Due: none

feat: R2ストレージのパス管理を一元化し、API認証を強化
  api/src/middleware/ApiAuth.ts
  api/src/routes/pets.ts
  api/src/utils/UrlBuilder.ts
  crawler/src/Crawler.ts
  crawler/src/services/DataPersistence.ts
  crawler/src/services/PetImageProcessor.ts
  frontend/public/sw.js
  scripts/dispatcher/detect-unconverted-images.js
  scripts/dispatcher/image-converter.js
  shared/package.json
  shared/src/utils/r2-paths.ts
  tsconfig.workers.json
Due: prettier --write

feat: GETリクエストの公開パスに画像取得エンドポイントを追加
  api/src/middleware/ApiAuth.ts
Due: prettier --write

feat: お気に入り機能を追加し、関連コンポーネントを更新
  frontend/public/sw.js
  frontend/src/components/MatchHeader.tsx
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/hooks/useFavorites.ts
  frontend/src/services/favoritesService.ts
  frontend/src/types/favorites.ts
Due: prettier --write

feat: お気に入り機能の評価レベル管理を追加し、関連コンポーネントを更新
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
  frontend/src/hooks/useFavorites.ts
  frontend/src/services/favoritesService.ts
  frontend/src/types/favorites.ts
Due: prettier --write
