Repository elchika-inc/buddies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:dispatcher, prettier --check, npm run type-check:app, npm run lint:app

.lintstagedrc.json:

{
  "dispatcher/src/**/*.{ts,tsx}": [
    "npm run lint:dispatcher",
    "prettier --check"
  ],
  "dispatcher/**/*.json": [
    "prettier --check"
  ],
  "frontend/src/**/*.{ts,tsx}": [
    "npm run type-check:app",
    "npm run lint:app",
    "prettier --check"
  ],
  "api/src/**/*.ts": [
    "prettier --check"
  ],
  "crawler/src/**/*.ts": [
    "prettier --check"
  ],
  "*.{md,yml,yaml}": [
    "prettier --check"
  ]
}

fix: Screenshot Captureからのデータ形式に対応するためDispatcherのvalidationを更新
  dispatcher/src/schemas/validation.ts
  dispatcher/src/services/ConversionService.ts
Due: npm run lint:dispatcher, prettier --check

fix: add commit-dirty flag to wrangler deploy to avoid UTF-8 errors
  frontend/package.json
Due: none

fix: GitHub Actionsデプロイワークフローの重複トリガーを修正
  .github/workflows/deploy.yml
Due: prettier --check

fix: デプロイワークフローの条件を簡潔に修正
  .github/workflows/deploy.yml
Due: prettier --check

Add specialized agents for code and test reviews based on best practices
  .claude/.mcp.local.json
  .claude/agents/aws-specialist.md
  .claude/agents/cloudflare-specialist.md
  .claude/agents/docs-manager.md
  .claude/agents/playwright-tester.md
  .claude/agents/review-coc-reviewer.md
  .claude/agents/review-garbage-detector.md
  .claude/agents/review-human-code-reviewer.md
  .claude/agents/review-kiss-reviewer.md
  .claude/agents/review-srp-reviewer.md
  .claude/agents/review-typescript-comprehensive.md
  .claude/agents/test-aaa-test-agent.md
  .claude/agents/test-solid-test-agent.md
  .claude/agents/test-test-builder-agent.md
  .claude/agents/test-test-double-agent.md
  .gitignore
Due: prettier --check

feat: 複数のIDでペットを取得するAPIエンドポイントを追加し、関連するサービスを更新
  api/src/controllers/PetController.ts
  api/src/routes/pets.ts
  dispatcher/src/controllers/DispatchController.ts
  dispatcher/src/schemas/validation.ts
  dispatcher/src/services/ApiService.ts
  dispatcher/src/services/ConversionService.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/DispatchService.ts
  dispatcher/src/utils/logger.test.ts
  package.json
Due: npm run lint:dispatcher, prettier --check

fix: sendScreenshotMessageのpetTypeパラメータを必須に変更し、バッチIDを明示的に設定
  dispatcher/src/services/QueueService.ts
Due: npm run lint:dispatcher, prettier --check

feat: 複数の改善実装
  api/src/controllers/PetController.ts
  api/src/middleware/ErrorHandlerMiddleware.ts
  api/src/utils/PetFactory.ts
  crawler/src/services/HttpFetcher.ts
  crawler/src/services/PetHomeParser.ts
  crawler/src/services/PetRepository.ts
  frontend/src/components/PetMatchApp.tsx
  frontend/src/hooks/useModals.ts
  frontend/src/hooks/usePetData.ts
  shared/types/guards.ts
Due: prettier --check, npm run type-check:app, npm run lint:app

fix: pre-commit時にPrettierで自動フォーマットするよう設定変更
  .lintstagedrc.json
  package.json
Due: none

fix: crawler workspace の型エラーを修正
  crawler/src/services/PetDataTransformer.ts
  crawler/src/services/PetHomeCrawlerService.ts
Due: prettier --check

feat: 新しいフォールバックスクリプトを追加し、オフライン時のキャッシュ処理を改善
  frontend/public/fallback-rYpbj8GP3NgOWWo6vvGUw.js
  frontend/public/sw.js
Due: none

feat: Crawler設定を追加し、ペットデータ取得の設定を一元管理
  .lintstagedrc.json
  api/src/config/crawler.ts
  api/src/controllers/admin/CrawlerController.ts
  crawler/src/Crawler.ts
  crawler/src/config/constants.ts
  crawler/src/index.ts
  crawler/src/services/PetHomeCrawlerService.ts
  crawler/src/types/queue.ts
  frontend/public/fallback-HQhph3UC9Z6aW-vknQAxK.js
  frontend/public/sw.js
  frontend/src/hooks/usePetData.ts
Due: prettier --check, npm run type-check:app, npm run lint:app

Refactor services to streamline dispatch and conversion processes
  api/src/config/crawler.ts
  api/src/config/dispatcher.ts
  api/src/controllers/admin/CrawlerController.ts
  api/src/controllers/admin/DispatchController.ts
  api/src/routes/admin.ts
  api/src/routes/conversion.ts
  api/src/services/PetDispatchService.ts
  dispatcher/src/constants/index.ts
  dispatcher/src/controllers/DispatchController.ts
  dispatcher/src/handlers/QueueHandler.ts
  dispatcher/src/schemas/validation.ts
  dispatcher/src/services/ApiService.ts
  dispatcher/src/services/ConversionService.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/DispatchService.ts
  dispatcher/src/services/GithubService.ts
  dispatcher/src/types/index.ts
  dispatcher/wrangler.toml
  shared/services/dispatcher-client.ts
Due: npm run lint:dispatcher, prettier --check

fix: GitHubService import path and type error in QueueHandler
  dispatcher/src/handlers/QueueHandler.ts
Due: npm run lint:dispatcher, prettier --check

Refactor controllers and repositories for improved structure and maintainability
  api/src/controllers/ImageController.ts
  api/src/controllers/PetController.ts
  api/src/factories/ControllerFactory.ts
  api/src/repositories/PetRepository.ts
  api/src/routes/images.ts
  api/src/routes/pets.ts
  api/src/utils/DataTransformer.ts
  api/src/utils/TypeGuards.ts
  api/src/utils/UrlBuilder.ts
  api/src/utils/index.ts
  frontend/public/fallback-FYLYC_niEgbkCgR2UMNv_.js
  frontend/public/sw.js
Due: prettier --check

feat: ペットカードと詳細モーダルでWebPサポートを追加し、画像の最適化とプリロード機能を実装
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetDetailModal.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: CrawlerのトリガーをDispatcher経由に変更し、関連するエラーハンドリングを追加
  api/src/index.ts
  api/src/routes/conversion.ts
  api/wrangler.toml
  dispatcher/src/index.ts
  dispatcher/wrangler.toml
  frontend/public/fallback-zn6lHt7GCdAT4BTeyZB9l.js
  frontend/public/sw.js
  shared/services/dispatcher-client.ts
Due: npm run lint:dispatcher, prettier --check

feat: 環境変数で認証を無効化できる機能を追加し、関連するミドルウェアとスクリプトを更新
  api/src/index.ts
  api/src/middleware/ApiAuth.ts
  api/src/middleware/setup/index.ts
  api/wrangler.toml
  frontend/public/fallback-bpFCR7uSxjVHx-3h4utE6.js
  frontend/public/sw.js
  scripts/trigger-crawler.sh
  shared/types/cloudflare.ts
Due: prettier --check

fix: 一時的に認証を無効化する設定を追加
  api/wrangler.toml
Due: none

feat: API認証ミドルウェアを更新し、APIキーの検証とレートリミット機能を追加
  api/src/middleware/ApiAuth.ts
  api/src/services/RateLimitService.ts
  api/src/types/ApiKeys.ts
  api/wrangler.toml
  database/migrations/0002_add_default_api_keys.sql
  frontend/public/fallback-nfHWUXKwHWFydkW-22whG.js
  frontend/public/sw.js
  shared/types/cloudflare.ts
Due: prettier --check

feat: Cronトリガーを無効化し、手動実行のみに変更
  api/src/index.ts
  api/wrangler.toml
Due: prettier --check

feat: 定期実行を削除し、手動実行のみに変更
  .github/workflows/image-conversion.yml
  api/src/index.ts
  api/wrangler.toml
Due: prettier --check

feat: 管理用ワークスペースを追加し、ビルドプロセスを拡張
  .github/workflows/test-and-build.yml
  frontend/public/fallback-4IajNgSiRTM9K2czaW4Yw.js
  frontend/public/sw.js
Due: prettier --check

feat: ビルドプロセスにAPI URLとAPIキーを追加し、WebPサポートチェックを簡素化
  .github/workflows/test-and-build.yml
  frontend/public/fallback-FLVRsXWuhCW1pz94T0CxO.js
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: WebPサポートチェックをSSR環境に対応させる
  frontend/public/fallback-RxovQXAYigxbviQGz4OuS.js
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: WebPサポートチェックを改善し、デフォルトをtrueに設定
  .github/workflows/test-and-build.yml
  frontend/public/fallback-jwcCZ57MeAfOOf3w0AELj.js
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: 新しいフォールバックスクリプトを追加し、オフライン対応を強化
  frontend/public/fallback-305mDvPV7lTzpyUIZFK-S.js
  frontend/public/sw.js
Due: none

feat: フォールバックスクリプトを追加し、オフライン対応を強化 feat: ペットカードコンポーネントからプリロード機能を削除し、WebP対応チェックを簡素化 feat: ペットスワイプカードコンポーネントからプリロード機能を削除 fix: バージョン番号を1.0.1に更新
  frontend/public/fallback-VoMWlFNDnWZqwnLtWvK1B.js
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetSwipeCard.tsx
  package.json
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: ワークフローの各ジョブでnpmキャッシュをクリーンアップし、クリーンなチェックアウトを強化
  .github/workflows/test-and-build.yml
Due: prettier --check

feat: Node.jsセットアップからnpmキャッシュの設定を削除し、ビルド前にキャッシュをクリーンアップ
  .github/workflows/test-and-build.yml
Due: prettier --check

fix: GitHub Actionsのビルドエラーを完全修正
  .github/workflows/test-and-build.yml
  frontend/src/components/PetDetailModal.tsx
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: デプロイワークフローを修正し、テストとビルドの成功を条件にデプロイを実行するように変更
  .github/workflows/deploy.yml
  .github/workflows/test-and-build.yml
Due: prettier --check

feat: デプロイワークフローを修正し、テストとビルドの成功を条件にデプロイを実行するように変更
  .github/workflows/deploy.yml
Due: prettier --check

fix: eslint設定のファイルパスを修正し、APIキーの型をunknownに変更
  shared/eslint.config.js
  shared/types/cloudflare.ts
Due: none

fix: 環境変数のAPIキーを直接設定に変更
  .github/workflows/test-and-build.yml
Due: prettier --check

feat: デプロイワークフローを更新し、フロントエンドとワーカーのデプロイを分離
  .github/workflows/deploy.yml
  .github/workflows/test-and-build.yml
Due: prettier --check

feat: ワーカーのデプロイメントを個別に設定し、フロントエンドのビルドプロセスを改善
  .github/workflows/deploy.yml
  .github/workflows/test-and-build.yml
Due: prettier --check
