Repository elchika-inc/buddies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:dispatcher, prettier --write

Refactor gesture and layout constants; remove unused pet data files
  frontend/.env
  frontend/.env.cat
  frontend/.env.dog
  frontend/.env.production
  frontend/package.json
  frontend/public/sw-minimal.js
  frontend/public/sw.js
  frontend/src/components/PetCard.tsx
  frontend/src/components/PetDetailModal.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard/animations.ts
  frontend/src/components/SwipeIndicator.tsx
  frontend/src/components/index.ts
  frontend/src/constants/errorMessages.ts
  frontend/src/constants/gesture.ts
  frontend/src/constants/layout.ts
  frontend/src/data/json/cats.json
  frontend/src/data/json/dogs.json
  frontend/src/data/petDataLoader.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDragGesture.ts
  frontend/src/hooks/usePetSwipe.ts
  frontend/src/types/apiKey.ts
  frontend/src/types/error.ts
  frontend/src/types/index.ts
  frontend/src/types/locations.ts
  frontend/src/types/petWithTimestamp.ts
  frontend/src/types/result.ts
  frontend/src/utils/formatters/petFormatters.ts
  frontend/src/utils/imageUrlOptimizer.ts
  frontend/src/utils/normalizers/index.ts
  frontend/src/utils/normalizers/safeAddressParser.ts
Due: prettier --write

feat: クローラー実行履歴とワークフロー実行履歴をダッシュボードに追加
  admin/src/routes/dashboard.ts
  admin/src/routes/ui-dashboard.ts
Due: none

fix: テストスクリプトのメッセージを修正し、不要なテストを削除
  admin/package.json
  frontend/public/sw.js
  frontend/src/components/__tests__/LocationRegion.test.tsx
  frontend/src/components/__tests__/PetCard.test.tsx
  frontend/src/components/__tests__/SwipeIndicator.test.tsx
Due: prettier --write

fix: CI用のビルドスクリプト（build:dog:ci, build:cat:ci）を追加
  frontend/package.json
Due: none

feat: Add ImageManager and R2LocalUploader for image handling and uploading
  .gitignore
  database/fixtures/images/.gitkeep
  database/fixtures/images/README.md
  database/fixtures/images/cats/cat-1.jpg
  database/fixtures/images/cats/cat-2.jpg
  database/fixtures/images/dogs/dog-1.jpg
  database/fixtures/images/dogs/dog-2.jpg
  database/generate-placeholders.ts
  database/generators/PetDataGenerator.ts
  database/seed.ts
  database/utils/ImageManager.ts
  database/utils/R2LocalUploader.ts
  frontend/public/sw.js
  package-lock.json
  package.json
Due: prettier --write

feat: Implement health check feature for services
  CLAUDE.md
  README.md
  admin/src/components/Dashboard.tsx
  admin/src/hooks/useHealthCheck.ts
  admin/src/routes/health.ts
  admin/src/routes/index.ts
  admin/src/services/HealthService.ts
  admin/src/types/env.ts
  admin/src/types/health.ts
  admin/wrangler.toml
  api/src/index.ts
  crawler/src/index.ts
  dispatcher/src/index.ts
  frontend/public/sw.js
  package.json
Due: npm run lint:dispatcher, prettier --write

feat: ダッシュボードにサービスヘルスチェック機能を追加
  admin/src/routes/ui.ts
Due: none

Refactor environment variable management and improve animation consistency
  lp/.eslintrc.json
  lp/next.config.js
  lp/package.json
  lp/scripts/take-screenshots.js
  lp/src/app/layout.tsx
  lp/src/app/page.tsx
  lp/src/components/CTASection.tsx
  lp/src/components/FAQSection.tsx
  lp/src/components/FeaturesSection.tsx
  lp/src/components/HeroSection.tsx
  lp/src/components/HowItWorksSection.tsx
  lp/src/components/ScreenshotsSection.tsx
  lp/src/components/StructuredData.tsx
  lp/src/config/env.ts
  lp/src/lib/animation-constants.ts
  lp/src/styles/globals.css
  lp/tsconfig.json
Due: none

feat: ヘルスチェックとテーブル情報取得のfetchにクレデンシャルを追加
  admin/src/routes/ui.ts
Due: none

feat(api): add workflow management routes and service
  .github/workflows/image-conversion.yml
  .github/workflows/screenshot-capture.yml
  admin/src/routes/dashboard.ts
  admin/src/routes/ui-dashboard.ts
  admin/src/routes/ui.ts
  api/src/index.ts
  api/src/routes/workflow.ts
  api/src/services/WorkflowHistoryService.ts
  dispatcher/src/controllers/DispatchController.ts
  dispatcher/src/index.ts
  dispatcher/src/services/GithubService.ts
  lp/public/screenshots/cat/detail.png
  lp/public/screenshots/cat/favorites.png
  lp/public/screenshots/cat/hero.png
  lp/public/screenshots/cat/location.png
  lp/public/screenshots/cat/swipe.png
  lp/public/screenshots/dog/detail.png
  lp/public/screenshots/dog/favorites.png
  lp/public/screenshots/dog/hero.png
  lp/public/screenshots/dog/location.png
  lp/public/screenshots/dog/swipe.png
  package.json
Due: npm run lint:dispatcher, prettier --write

fix(auth): update realm message for basic authentication refactor(ui): improve layout and styling for dashboard and health summary
  admin/src/middleware/auth.ts
  admin/src/routes/ui.ts
Due: none

feat(images): add new cat and dog images, remove old JPEGs
  database/fixtures/images/cats/cat-01.png
  database/fixtures/images/cats/cat-02.png
  database/fixtures/images/cats/cat-03.png
  database/fixtures/images/cats/cat-04.png
  database/fixtures/images/cats/cat-05.png
  database/fixtures/images/cats/cat-06.png
  database/fixtures/images/cats/cat-07.png
  database/fixtures/images/cats/cat-08.png
  database/fixtures/images/cats/cat-09.png
  database/fixtures/images/cats/cat-1.jpg
  database/fixtures/images/cats/cat-10.png
  database/fixtures/images/cats/cat-2.jpg
  database/fixtures/images/dogs/dog-01.png
  database/fixtures/images/dogs/dog-02.png
  database/fixtures/images/dogs/dog-03.png
  database/fixtures/images/dogs/dog-04.png
  database/fixtures/images/dogs/dog-05.png
  database/fixtures/images/dogs/dog-06.png
  database/fixtures/images/dogs/dog-07.png
  database/fixtures/images/dogs/dog-08.png
  database/fixtures/images/dogs/dog-09.png
  database/fixtures/images/dogs/dog-1.jpg
  database/fixtures/images/dogs/dog-10.png
  database/fixtures/images/dogs/dog-2.jpg
Due: none

feat: Add image upload script for R2 and refactor image upload logic
  api/package.json
  api/src/controllers/ImageController.ts
  api/src/factories/ControllerFactory.ts
  database/seed.ts
  database/upload-images-to-r2.ts
  database/utils/R2LocalUploader.ts
  frontend/.env
  frontend/src/components/CacheClearButton.tsx
  frontend/src/components/PetMatchApp.tsx
  frontend/src/components/PetSwipeCard.tsx
  frontend/src/components/ServiceWorkerUpdater.tsx
  frontend/src/components/index.ts
  package.json
  scripts/ts/convert-local-images.ts
  scripts/ts/utils/image-converter.ts
Due: prettier --write

feat: Add new pet data and JSON schema for cats and dogs
  CLAUDE.md
  database/fixtures/pets/cats/cat-01.json
  database/fixtures/pets/cats/cat-02.json
  database/fixtures/pets/cats/cat-03.json
  database/fixtures/pets/cats/cat-04.json
  database/fixtures/pets/cats/cat-05.json
  database/fixtures/pets/cats/cat-06.json
  database/fixtures/pets/cats/cat-07.json
  database/fixtures/pets/cats/cat-08.json
  database/fixtures/pets/cats/cat-09.json
  database/fixtures/pets/cats/cat-10.json
  database/fixtures/pets/dogs/dog-01.json
  database/fixtures/pets/dogs/dog-02.json
  database/fixtures/pets/dogs/dog-03.json
  database/fixtures/pets/dogs/dog-04.json
  database/fixtures/pets/dogs/dog-05.json
  database/fixtures/pets/dogs/dog-06.json
  database/fixtures/pets/dogs/dog-07.json
  database/fixtures/pets/dogs/dog-08.json
  database/fixtures/pets/dogs/dog-09.json
  database/fixtures/pets/dogs/dog-10.json
  database/generators/PetDataGenerator.ts
  database/schemas/pet-json-schema.ts
  database/seed.ts
  database/sync-json-from-images.ts
  database/utils/JsonPetLoader.ts
  package.json
Due: prettier --write

feat: add various scripts for project maintenance and data crawling
  database/fixtures/pets/cats/cat-01.json
  database/fixtures/pets/cats/cat-02.json
  database/fixtures/pets/cats/cat-03.json
  database/fixtures/pets/cats/cat-04.json
  database/fixtures/pets/cats/cat-05.json
  database/fixtures/pets/cats/cat-06.json
  database/fixtures/pets/cats/cat-07.json
  database/fixtures/pets/cats/cat-08.json
  database/fixtures/pets/cats/cat-09.json
  database/fixtures/pets/cats/cat-10.json
  database/fixtures/pets/dogs/dog-01.json
  database/fixtures/pets/dogs/dog-02.json
  database/fixtures/pets/dogs/dog-03.json
  database/fixtures/pets/dogs/dog-04.json
  database/fixtures/pets/dogs/dog-05.json
  database/fixtures/pets/dogs/dog-06.json
  database/fixtures/pets/dogs/dog-07.json
  database/fixtures/pets/dogs/dog-08.json
  database/fixtures/pets/dogs/dog-09.json
  database/fixtures/pets/dogs/dog-10.json
  database/sync-json-from-images.ts
  package.json
  scripts/check-image-status.sh
  scripts/crawler/crawl-pethome.sh
  scripts/dev/reset-dev-db.sh
  scripts/manage-images.sh
  scripts/trigger-conversion.sh
  scripts/trigger-crawler.sh
  scripts/trigger-screenshot.sh
  scripts/ts/clean.ts
  scripts/ts/crawl-pethome.ts
  scripts/ts/reset-dev-db.ts
  scripts/ts/trigger-crawler.ts
  scripts/ts/utils/cli.ts
  scripts/ts/utils/colors.ts
  scripts/ts/utils/db.ts
  scripts/ts/utils/parallel.ts
Due: none

LPのスクショ更新
  .claude/.mcp.local.json
  CLAUDE.md
  api/drizzle.config.ts
  api/src/middleware/ApiAuth.ts
  database/generate-placeholders.ts
  database/seed.ts
  database/utils/ImageManager.ts
  database/utils/R2LocalUploader.ts
  lp/public/screenshots/cat/detail.png
  lp/public/screenshots/cat/favorites.png
  lp/public/screenshots/cat/hero.png
  lp/public/screenshots/dog/detail.png
  lp/public/screenshots/dog/favorites.png
  lp/public/screenshots/dog/hero.png
  lp/scripts/take-screenshots.js
  package.json
  scripts/ts/setup-with-server.ts
  scripts/ts/utils/db.ts
Due: prettier --write

Path conditions:
  npm run lint:dispatcher: any of: dispatcher/src/**/*.{ts,tsx}
  prettier --write: (((((any of: dispatcher/src/**/*.{ts,tsx}) or (any of: dispatcher/**/*.json)) or (any of: frontend/src/**/*.{ts,tsx})) or (any of: api/src/**/*.ts)) or (any of: crawler/src/**/*.ts)) or (any of: *.{md,yml,yaml})
