Repository elchika-inc/buddies: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:dispatcher, prettier --check, npm run type-check:app, npm run lint:app

feat: GitHub ActionsワークフローをTest and Buildに統合
  .github/workflows/test-and-build.yml
  package.json
Due: prettier --check

feat: 全ワークスペースにlint/type-check/test環境を統一
  .github/workflows/test-and-build.yml
  api/.prettierrc.json
  api/eslint.config.js
  api/package.json
  crawler/.prettierrc.json
  crawler/eslint.config.js
  crawler/package.json
  package-lock.json
  package.json
  shared/.prettierrc.json
  shared/eslint.config.js
  shared/package.json
  shared/tsconfig.json
Due: prettier --check

fix: 重複するdispatcher-ci.ymlワークフローを削除
  .github/workflows/dispatcher-ci.yml
Due: prettier --check

fix: ESLintエラーを修正 - CI/CDパイプライン修復
  api/src/controllers/HealthController.ts
  api/src/controllers/PetController.ts
  api/src/routes/apiKeys.ts
  api/src/routes/crawler.ts
  api/src/services/HealthCheckService.ts
  api/src/types/pet.ts
  shared/types/error.ts
  shared/types/errors.ts
Due: prettier --check

fix: ESLint設定とTypeScriptエラーを修正
  api/eslint.config.js
  shared/types/error.ts
Due: none

fix: TypeScript型エラーを完全に修正 - ContentfulStatusCode型を使用
  shared/types/error.ts
Due: none

fix: Cloudflare Queue作成ステップをデプロイワークフローに追加
  .github/workflows/deploy.yml
  api/src/auth/AuthService.ts
  api/src/auth/strategies/EnvironmentKeyStrategy.ts
  api/src/controllers/ImageController.ts
  api/src/controllers/ImageStatusController.ts
  api/src/controllers/admin/AdminController.ts
  api/src/controllers/admin/ImageUploadController.ts
  api/src/controllers/admin/ImageUploadControllerV2.ts
  api/src/index.ts
  api/src/middleware/AdminAuth.ts
  api/src/services/DataService.ts
  api/src/services/image/ImageManagementService.ts
  api/src/services/image/ImageProcessingService.ts
  api/src/services/image/ImageStorageService.ts
  crawler/src/index.ts
  crawler/src/types/index.ts
  dispatcher/src/services/ApiService.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/GithubService.ts
  dispatcher/src/utils/logger.test.ts
Due: npm run lint:dispatcher, prettier --check

fix: TypeScript型エラーを完全修正
  api/src/services/image/ImageStorageService.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/GithubService.ts
  dispatcher/src/utils/logger.test.ts
Due: npm run lint:dispatcher, prettier --check

docs: CLAUDE.mdのフォーマットを修正
  CLAUDE.md
  crawler/wrangler.toml
Due: prettier --check

fix: CRAWLER_API_KEYを環境変数に追加
  crawler/wrangler.toml
Due: none

feat: 新しいフォールバックスクリプトを追加
  frontend/public/fallback-44hh89uQqoJXCND5iS7je.js
  frontend/public/sw.js
Due: none

fix: R2アップロードエラーの詳細情報を出力するように修正
  scripts/dispatcher/screenshot-capture.js
Due: none

fix: Screenshot CaptureワークフローにCLOUDFLARE_API_TOKEN環境変数を追加
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: wranglerコマンドを最新バージョンで実行し、remoteフラグを削除
  scripts/dispatcher/screenshot-capture.js
Due: none

fix: GitHub ActionsにCLOUDFLARE_ACCOUNT_ID環境変数を追加
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: pet.typeの単数形を複数形に変換してスクリーンショットの保存パスを修正
  scripts/dispatcher/screenshot-capture.js
Due: none

fix: デプロイワークフローをpushイベントに変更し、CI成功条件を削除
  .github/workflows/deploy.yml
Due: prettier --check

fix: deploy.ymlのフォーマットを修正
  .github/workflows/deploy.yml
Due: prettier --check

fix: wranglerコマンドに--remoteフラグを追加
  scripts/dispatcher/screenshot-capture.js
Due: none

fix: スクリーンショットキャプチャワークフローの変換リクエスト送信を修正し、キュー設定を追加
  .github/workflows/screenshot-capture.yml
  dispatcher/wrangler.toml
  frontend/public/fallback-JDl0g64nQWPz5F-4JUsrU.js
  frontend/public/sw.js
Due: prettier --check

fix: Dispatcher URLを正しいWorkers.devドメインに修正
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: Screenshot CaptureからDispatcher APIへの送信にhasJpegフィールドを追加
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: Dispatcher で Conversion Queue を正しく使用するよう修正
  dispatcher/src/services/ConversionService.ts
  dispatcher/src/services/QueueService.ts
  dispatcher/src/types/index.ts
Due: npm run lint:dispatcher, prettier --check

fix: Crawlerトリガーの正しい順序を実装
  .github/workflows/screenshot-capture.yml
  dispatcher/src/services/ConversionService.ts
  dispatcher/src/services/CrawlerService.ts
  dispatcher/src/services/GithubService.ts
Due: npm run lint:dispatcher, prettier --check

fix: lint:dispatcherスクリプトを追加して pre-commitフックエラーを修正
  .gitignore
  api/package.json
  api/src/services/image/ImageStorageService.ts
  api/wrangler.toml
  crawler/package.json
  dispatcher/package.json
  dispatcher/src/schemas/validation.ts
  dispatcher/wrangler.toml
  frontend/public/fallback-6UY4D9hQFlUDbYHhEpZZ0.js
  frontend/public/sw.js
  package.json
  shared/schemas/api.schema.ts
  shared/schemas/pet.schema.ts
Due: npm run lint:dispatcher, prettier --check

fix: 不要なfallbackスクリプトを削除し、新しいfallbackスクリプトを追加
  frontend/public/fallback-zchborNv7sG-0xR8HcBgH.js
  frontend/public/sw.js
Due: none

fix: lint, type-check, and testスクリプトを修正し、全ワークスペースでの実行を簡素化
  .github/workflows/test-and-build.yml
  frontend/public/fallback-AXFnHRdeR88ffMkfosCZ4.js
  frontend/public/sw.js
Due: prettier --check

fix: lint-stagedとPrettierエラーを修正
  .lintstagedrc.json
  frontend/public/fallback-9ifIsN1elJ5YjX7q20t9o.js
  frontend/public/sw.js
  frontend/src/services/api.ts
  shared/types/result.ts
Due: prettier --check, npm run type-check:app, npm run lint:app

feat: 画像フラグ更新APIとスクリーンショットキャプチャの成功数をデータベースに反映
  .github/workflows/image-conversion.yml
  .github/workflows/screenshot-capture.yml
  api/src/controllers/PetController.ts
  api/src/routes/pets.ts
  frontend/public/fallback-6V4RfZZ1NlgpwdnAw31kt.js
  frontend/public/sw.js
Due: prettier --check

fix: /api/stats エンドポイントが犬と猫の両方を均等に返すように修正
  api/src/controllers/HealthController.ts
Due: prettier --check

fix: Dispatcher Prettierフォーマット修正
  api/src/controllers/HealthController.ts
  api/src/routes/stats.ts
  dispatcher/src/handlers/QueueHandler.ts
  dispatcher/src/services/ApiService.ts
  dispatcher/src/services/ConversionService.ts
  dispatcher/src/services/DispatchService.ts
  dispatcher/src/services/QueueService.ts
  dispatcher/src/types/api.ts
  dispatcher/src/types/index.ts
  dispatcher/wrangler.toml
  frontend/public/fallback-SbJRR6_e3AKpCYGkO6Jmq.js
  frontend/public/sw.js
Due: npm run lint:dispatcher, prettier --check

refactor: キュー構成を責任ベースに変更し、猫と犬のキューをスクリーンショット用に統合
  crawler/src/Crawler.ts
  crawler/src/index.ts
  crawler/src/types/index.ts
  crawler/wrangler.toml
Due: prettier --check

fix: APIレスポンスのデータが存在しない場合の処理を改善
  crawler/src/Crawler.ts
Due: prettier --check

fix: Crawler APIのデータ取得処理を改善し、エラーハンドリングを強化
  crawler/src/Crawler.ts
  shared/services/api-client.ts
Due: prettier --check

feat: ワークフロー順序制御の実装 (Workflow -> API -> Dispatcher -> Workflow)
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: Screenshot CaptureワークフローにhasJpegフィールドを追加
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: Screenshot CaptureのR2アップロードをAWS SDK方式に変更
  .github/workflows/screenshot-capture.yml
  scripts/dispatcher/screenshot-capture.js
Due: prettier --check

fix: Image Conversionワークフローのパス構造を修正
  scripts/dispatcher/detect-unconverted-images.js
  scripts/dispatcher/image-converter.js
Due: none

fix: Screenshot Capture workflowのデータ構造をDispatcher仕様に修正
  .github/workflows/screenshot-capture.yml
Due: prettier --check

fix: Screenshot Captureワークフローのデータ構造にtypeフィールドを追加
  .github/workflows/screenshot-capture.yml
Due: prettier --check

Path conditions:
  npm run lint:dispatcher: any of: dispatcher/src/**/*.{ts,tsx}
  prettier --check: (((((any of: dispatcher/src/**/*.{ts,tsx}) or (any of: dispatcher/**/*.json)) or (any of: frontend/src/**/*.{ts,tsx})) or (any of: api/src/**/*.ts)) or (any of: crawler/src/**/*.ts)) or (any of: *.{md,yml,yaml})
  npm run type-check:app: any of: frontend/src/**/*.{ts,tsx}
  npm run lint:app: any of: frontend/src/**/*.{ts,tsx}
